.App {
  text-align: center;
}

.App-contact-logo {
  height: 30vmin;
  right: 50%;
  pointer-events: none;
}

.buttonDiv{
  display: flex;
}

.Contact-button{
  background-color: grey;
  border-radius: 2vmin;
  border-width: 2vmin;
  width: 50vmin;
  height: 40vmin;
  margin: 100px;
  cursor: pointer;
  z-index: 1;
}

/* .Add-contact-button{
  background-color: #282c34;
  border-radius: 2vmin;
  border-width: 2vmin;
  margin: 50px;
  cursor: pointer;
} */
/* @media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
} */

.Form{
  background-color: white;
  z-index: 3;
  width: 600px;
  height: 600px;
  /*display: none;*/
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-title {
  color: #61dafb;
  font-size: 10vmin;
}

.Label{ 
  size: 30px;
  color: black;
  margin-right: 30px;
}

.FormInputField{
  size: 30px;
  height: 30px;
  font-size: 20px;
  margin-left: 30px;
}

.Formfield{
  margin-top: 10%;
  margin-bottom: 5%;
}

.CrossButton{
  display: flex;
  justify-content: right;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
